#content {
    width: 100%;
    height: 500px;
}

#content .content-in {
    width: 1200px;
    height: 100%;
    padding: 15px 0;
    margin: 0 auto;
    box-sizing: border-box;
}

#content .content-in .content-in-main {
    width: 100%;
    height: 100%;
    padding: 20px 0;
    box-sizing: border-box;
    background-color: #e8e8e8;
}

#content .content-in .content-in-main .content-in-main-min {
    width: 100%;
    height: 100%;
}

#content .content-in .content-in-main .content-in-main-min .content-in-main-min-side {
    width: 390px;
    height: 100%;
    padding: 0 30px;
    box-sizing: border-box;
    float: left;
}

#content .content-in .content-in-main .content-in-main-min .content-in-main-min-side .content-in-main-min-side-title {
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: #fff;
    font-size: 14px;
    padding-left: 10px;
    box-sizing: border-box;
    background-color: #005a99;
}

#content .content-in .content-in-main .content-in-main-min .content-in-main-min-side .content-in-main-min-side-content {
    width: 100%;
}

#content .content-in .content-in-main .content-in-main-min .content-in-main-min-side .content-in-main-min-side-content a {
    width: 100%;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    padding: 0 20px;
    box-sizing: border-box;
    border-bottom: 1px dashed #ccc;
    text-decoration: none;
    color: #5e8cbd;
}

#content .content-in .content-in-main .content-in-main-min .content-in-main-min-side .content-in-main-min-side-content a:hover, #content .content-in .content-in-main .content-in-main-min .content-in-main-min-side .content-in-main-min-side-content a.current3 {
    color: #DC143C;
}

#content .content-in .content-in-main .content-in-main-min .content-in-main-min-side .content-in-main-min-side-content a span {
    float: right;
    line-height: 40px;
}

#content .content-in .content-in-main .content-in-main-min .content-in-main-min-content {
    width: 790px;
    height: 100%;
    float: right;
}

#content .content-in .content-in-main .content-in-main-min .content-in-main-min-content .content-in-main-min-content-title {
    width: 100%;
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
    color: #005a99;
}

#content .content-in .content-in-main .content-in-main-min .content-in-main-min-content .content-in-main-min-content-content {
    width: 100%;
    height: 420px;
    list-style: none;
}

#content .content-in .content-in-main .content-in-main-min .content-in-main-min-content .content-in-main-min-content-content li {
    width: 100%;
    height: 40px;
    font-size: 12px;
    background-color: #e8e8e8;
    color: #687f96;
}

#content .content-in .content-in-main .content-in-main-min .content-in-main-min-content .content-in-main-min-content-content li:first-child {
    font-size: 16px;
    color: #fff;
    background-color: #005a99
}

#content .content-in .content-in-main .content-in-main-min .content-in-main-min-content .content-in-main-min-content-content li.on {
    background-color: #eee;
}

#content .content-in .content-in-main .content-in-main-min .content-in-main-min-content .content-in-main-min-content-content li span {
    display: inline-block;
    height: 100%;
    line-height: 40px;
    text-align: center;
    border-right: 1px solid #ccc;
    box-sizing: border-box;
}

#content .content-in .content-in-main .content-in-main-min .content-in-main-min-content .content-in-main-min-content-content li span:last-child {
    border: none;
}

#content .content-in .content-in-main .content-in-main-min .content-in-main-min-content .content-in-main-min-content-content li span.num {
    width: 100px;
}

#content .content-in .content-in-main .content-in-main-min .content-in-main-min-content .content-in-main-min-content-content li span.main {
    width: 480px;
    height: 100%;
}

#content .content-in .content-in-main .content-in-main-min .content-in-main-min-content .content-in-main-min-content-content li span.content {
    width: 210px;
}

#content .content-in .content-in-main .content-in-main-min .content-in-main-min-content .content-in-main-min-content-content li span a {
    color: #00f;
    text-decoration: none;
}